<div class="cbi-section">
  <h2>Eth Setup Settings</h2>
  <form>
    <fieldset>
      <legend>Network Interfaces</legend>
      <div class="cbi-section-table">
        <table class="cbi-section-table-control" style="width: auto;">
          <tr>
            <td><input type="text" class="cbi-input-text" name="interface1" value="" placeholder="Interface 1"></td>
          </tr>
          <tr>
            <td><input type="text" class="cbi-input-text" name="interface2" value="" placeholder="Interface 2"></td>
          </tr>
        </table>
      </div>
    </fieldset>
    <div class="cbi-section-actions">
      <input class="cbi-button cbi-button-save" type="submit" value="Save">
    </div>
  </form>
</div>
